backend/src/__pycache__/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

backend/build/
backend/dist/
backend/*.egg-info/
backend/.eggs/

backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/htmlcov/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/*.py,cover
backend/.pytest_cache/
backend/pytestdebug.log
backend/.ipynb_checkpoints/

backend/.python-version

backend/.mypy_cache/

backend/.pyre/

.idea/
*.iml
*.iws
out/

.DS_Store
Thumbs.db
